/*
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⢴⣒⣒⣲⢤⣤⣀⢧⡞⣡⣴⣾⣷⣶⡽⣿⣾⣿⣿⡶⠿⢭⣒⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠈⠉⠈⠉⠉⠉⠉⠉⠉⢻⠉⠉⠉⠉⠉⡹⠛⢁⡾⠟⠛⠿⣿⣿⣷⣮⡍⣿⣿⣭⣭⣿⣿⣿⣿⠹⣿⣿⣿⣿⣿⣾⣕⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣾⡷⢤⣀⣾⠶⠟⠁⠀⠀⣀⣠⣤⣽⣯⣝⠓⠲⢶⣌⢿⣷⣝⣿⣿⡆⣿⣭⣻⣿⣿⣿⣿⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣀⣤⣴⡒⠚⠦⠤⢄⣀⣠⠄⢀⡴⢿⣿⣿⢛⣥⣾⣿⡾⣦⠀⢹⣟⣿⣿⣿⣿⡽⠷⠶⢦⣽⣿⣿⣿⣿⣿⣿⣧⠔⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡀⠀⠀⠀⢠⠞⠋⠉⠉⡩⠟⣀⣴⣟⡯⠖⠀⠋⣠⠛⡟⣡⣿⢿⢿⣟⣿⣹⠀⢘⣿⣽⣿⣯⣛⠷⣆⣤⣤⣬⣝⣻⣿⣿⣿⣿⣿⣶⣶⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠉⠓⠲⢤⡈⠀⢀⣴⣿⣴⣾⣿⣿⡏⣀⠄⣀⡞⠁⢀⡼⠛⠁⢀⣿⣿⢿⣿⠀⣸⣿⣿⣽⡛⠿⣷⡀⠻⣿⣿⣿⣿⡟⠻⢿⣿⣿⣝⠿⠻⣷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠈⢳⣾⡏⣼⣿⣿⣿⣿⣿⣩⣾⠋⠀⠀⠟⠀⠀⣴⠟⢹⡿⣼⠏⢠⣿⠻⡿⣍⠛⠶⠀⠉⣀⡉⠲⣶⣽⡻⢷⣮⣍⡛⢿⣷⣄⠈⢷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠈⢸⢿⡿⢿⣿⢟⣽⣿⣿⡥⠂⠀⠀⠀⢀⡾⠏⣴⡿⢱⠃⢀⣟⢿⣿⣎⠀⢻⣿⣶⣄⠀⠈⠙⠾⣿⣿⣷⣽⣿⣿⣷⣽⣿⢦⡈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⣰⢃⡾⢡⣟⣤⣾⣿⡾⠋⣰⠃⠀⠀⠐⠋⠀⢀⣿⣤⠏⢠⣾⣿⠆⢿⣏⣷⠀⢿⠿⣮⡑⠀⢤⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣎⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠠⢤⡴⣚⣡⠞⠀⣼⣿⣿⣿⡟⢁⣴⠇⠀⠀⣠⠀⣀⡴⣿⢋⣞⣴⣿⣿⢻⡄⠈⡿⢺⡇⠈⡆⠈⠻⢦⠀⠹⣿⣦⡙⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠆⠀⢠⣾⡿⠂⣠⣾⣿⣿⣿⡟⠀⣾⠟⢀⣠⡾⠃⠉⣩⢞⣵⣿⣯⣿⣿⢿⢻⡇⢰⠁⢸⣇⠀⢻⣎⢳⣌⢳⣷⣜⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⢰⠏⣹⠁⣴⣿⠟⣿⡿⣿⠃⣴⢻⣶⣿⡿⠓⠒⠋⠉⢁⡞⠘⠘⣾⡟⢸⣼⡇⠈⠀⢰⣹⠀⢸⢹⣆⢻⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡀⣿⠞⣷⠾⡿⠃⣼⡟⢱⣿⢰⣿⣼⣿⣿⠃⢀⡴⢃⡞⠁⣰⠀⠠⣿⠁⢀⣿⠇⠀⠀⣶⣿⠀⣿⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡽⠁⡸⠁⢰⢃⣾⠏⢣⣾⡿⢻⣿⣿⣿⡇⠀⣾⡇⣼⢳⣆⡇⠀⢠⠃⣔⣿⠏⠀⣀⣴⣿⣿⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢿⣿⡟⣿⢿⣿⡘⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠃⢸⠇⠀⡏⣾⣿⠀⡞⢸⡇⣾⣿⣿⣿⠁⣼⣿⣷⡟⣾⣿⡇⢀⣤⣾⣿⠟⢀⣴⣿⢹⣿⣿⣿⣿⣿⡏⢻⣿⣿⣿⣿⣿⣿⣿⣷⣸⢻⡷⣌⣸⢿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⢸⢰⠀⣧⣿⣷⢠⣿⡈⠇⣿⣿⣿⣿⣆⣿⣿⣿⢻⣿⣿⣷⣿⣿⡿⣁⣴⢿⣿⡿⢸⣿⣿⣿⠙⣿⠃⠀⠙⠿⣿⣾⣿⣿⣿⣿⣿⣞⢿⣽⣿⡈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣀⣸⣸⡄⢿⣿⣿⣞⣿⣷⣀⢹⣿⣿⣿⣿⣿⣿⣿⣾⣿⣿⣿⣿⣷⣿⣿⠇⣸⡿⠀⣾⣿⣿⡿⣀⣿⣴⣢⣴⣶⣶⣿⣿⣿⣵⡿⢿⣿⡘⣸⣿⡿⠷⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡀⠈⢻⡹⣌⢿⣿⣼⣿⣿⣿⣿⣿⣿⢋⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⣿⣿⢠⣾⣇⣼⣿⣿⣿⣻⠽⣿⣿⣿⣿⠿⣷⢨⢻⣿⣿⡇⢸⠃⣿⣿⣟⣿⡟⠉⢻⣦⣀⠀⠀⠀⠀⠀⠀⠀
⡅⠀⠀⠛⠌⠓⢇⣇⢻⣿⣿⢹⣿⣯⣾⣸⣿⣿⣿⣿⣟⣾⣿⠋⣿⣿⣿⣾⣿⣿⣿⣿⣿⠛⠁⠀⡟⢽⡟⠛⠩⢿⠇⠌⢿⡏⡇⠞⠀⣿⣿⢿⣿⣿⣆⠀⠹⣿⣿⣦⣄⣀⠀⠀⠀
⢷⡀⠀⠀⠀⠀⠘⣿⣆⢹⣇⣾⣿⢹⣿⣿⣿⣿⣿⣿⡿⣹⣯⣤⣿⣿⣿⣿⣿⣿⣿⡿⡿⠄⠀⠐⠀⠈⠩⠥⠒⣡⡔⠀⢸⡇⠁⠀⠀⡟⢻⣸⢻⣿⣿⣷⣦⢻⣟⠛⠛⠛⠻⢶⣦
⠀⢳⡀⠀⠀⠀⠀⣸⣿⢾⣾⣿⣿⢸⣿⣿⣿⣿⣿⢿⣾⣿⣭⣍⣽⢿⣿⣿⣿⠸⣿⣿⢷⠀⠀⠀⠀⠀⠀⢠⢾⠀⠀⠀⣸⡇⠀⠀⠀⡇⠀⠙⡇⣿⣿⣿⣿⡎⢿⣆⠀⠀⠀⠀⠈
⠀⠈⢧⠀⠀⠀⣰⣻⡿⢫⣻⣿⣿⣿⣿⣿⣿⣿⣿⠻⣿⣿⣿⠿⡗⠀⠹⣟⣿⣶⠿⠛⢿⣷⣄⠀⠀⠀⠀⣻⠇⣀⣤⡾⠋⠀⠀⠀⢰⡇⠀⠀⣷⣿⣿⣿⣿⣷⡸⣿⣆⠀⠀⠀⠀
⠀⠀⢸⠀⠀⠀⡟⢹⠀⢸⢻⣿⣻⣿⣿⣿⣿⣿⠸⣄⡛⠿⢃⣘⠁⠀⠀⢸⡟⠛⠓⠤⠈⠻⣟⣦⣤⣔⣾⠿⠟⠋⠁⠀⠀⠀⠀⠀⣼⡇⠀⠀⢹⢸⣿⣿⣿⣿⣧⢿⣿⣧⡀⠀⠀
⠀⠀⢸⠀⠀⡼⠁⡼⠀⢸⢸⣿⣿⣿⣛⣿⣹⣿⡷⠀⠈⠉⠉⠁⡀⠂⠀⢸⡇⠀⠀⠀⠀⠀⠀⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⠇⠀⠀⠘⢼⣿⣿⣿⣿⣿⡈⣿⣿⣿⡆⠀
⠀⠀⣸⠂⠀⢁⣼⠃⠀⣼⣾⣿⡽⣿⣿⡿⣿⣿⣿⣗⠂⠀⠀⡠⠀⢀⣴⡟⠃⠀⠀⢇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠇⢸⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣧⢿⣿⣿⣷⠀
⠀⢠⠋⠀⠠⣿⠇⠀⠀⢸⣿⣿⣧⢿⣿⣷⣿⣯⣬⢿⣷⣶⡾⠶⠟⠋⠁⠀⠀⠀⠀⢼⣄⠀⠀⠀⠀⠀⢀⡠⠊⠀⠀⠀⠀⢠⡇⠀⣼⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⡾⣿⣿⣿⠀
⣰⠋⢸⠀⣾⣁⣀⡀⠀⢸⠹⣿⣿⣸⣿⣿⣿⣿⣿⣿⣿⣿⣷⣤⡀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣀⣠⠴⠚⣉⠀⠀⠀⠀⠀⣰⡿⠁⠀⡟⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣇⢿⠀⠻⡇
⡇⣠⠃⠀⠀⣤⠀⢹⠀⠸⡄⠘⣿⣇⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣤⣀⠀⠀⠀⠈⠉⠀⠤⠤⠶⠛⠁⠀⠀⠀⢀⣴⡿⠁⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⡘⣿⡀⠳
⠗⠁⠀⠀⠀⣼⣠⠇⠀⠀⣿⣦⡈⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣾⣟⠁⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⣿⣿⣿⣷⢻⡇⠀
⠤⠤⠤⠤⠾⠿⠥⠤⠤⠤⣼⣿⣿⣦⣹⡿⣿⣿⣿⣿⣿⣿⡇⢿⣿⣿⣿⣿⣿⣿⠏⣿⣿⣶⣦⣄⡀⠀⢀⣤⣾⡿⠟⠁⠀⠀⢀⠀⠀⠀⠀⢀⣼⣻⣿⣿⣿⣿⣿⣿⣿⣿⣾⣿⣄
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣷⡀⠙⠻⣿⣿⣿⣿⣷⣮⣽⣿⡿⢿⣿⠆⡏⢿⣷⡉⠛⠿⠿⣍⡙⠛⠿⡇⠀⠀⢀⡎⣀⡠⠶⠋⠁⢸⢹⣿⣿⣿⣿⣿⣿⠿⢿⣿⣿⣿
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⡖⢻⣞⢿⣿⣿⣿⡀⠀⠘⢿⣿⡟⣿⣭⣭⣾⣿⣿⣿⠀⢸⡀⢿⣿⡄⠀⠀⠀⠀⠈⠛⢇⡀⢠⡿⠛⠁⠀⠀⠀⠀⣾⢸⣿⣿⣿⣿⣿⣟⡛⠿⠿⢿⣿
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢇⠘⢿⣜⣿⣿⣿⣷⣆⡀⠀⠈⢻⣽⣿⣿⣿⣿⣿⣿⠀⢸⠙⢦⣙⣿⣦⣀⠀⠀⠀⠀⣀⠉⠉⠀⠀⠀⠀⠀⠀⠀⡟⢸⣿⣿⣿⣿⣿⣿⣿⣿⡇⢸⣿

********scrollbar vieja

::-webkit-scrollbar {
    width: 8px;   height: 8px;    
}

::-webkit-scrollbar-track {
background: lightgray;  
    -webkit-border-radius: 10px;
    border-radius: 4px;
    border: 1px solid black;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 6px;
  background:black;  

border: 1px solid black;
  box-shadow: inset 9px 0px 3px -10px white, inset -13px 0px 6px -12px white, inset 0px 13px 6px -10px white, inset 0px -13px 6px -10px white;

}
  
::-webkit-scrollbar-button, .lyrics::-webkit-scrollbar-button {

display: none;

background-color: none;

} */


/*scrollbar v2*/

*, *::before, *::after {
box-sizing: border-box;
} /* rule of thumb. La verdad no sé que hace pero la mayoría de códigos out there lo tienen*/

::-webkit-scrollbar {
width: 16px
}
::-webkit-scrollbar-corner {
background: #eee
}
 
::-webkit-scrollbar-track:vertical {
background: linear-gradient(90deg, #e5e5e5, #f0f0f0 20%);
}
 
::-webkit-scrollbar-thumb {
border: 1.5px solid #888;
border-radius: 3px;
box-shadow: inset 0 -1px 1px #fff, inset 0 1px 1px #fff;
background-color: #eee;
}
::-webkit-scrollbar-thumb:vertical {
background: url("https://dl.dropbox.com/s/9a29qbkza3gmgl7/scroll1.png"), linear-gradient(90deg, #eee 45%, #ddd 0, #bbb);
background-repeat: no-repeat;
background-size: 65% auto, cover;
background-position: center;
}
 
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
display: block
}
 
::-webkit-scrollbar-button:vertical {
height: 15px
}
::-webkit-scrollbar-button:vertical:start:decrement {
background: white;
background: url("https://dl.dropbox.com/s/n9ji42h9hdgdtpc/scroll3.png"), linear-gradient(90deg, #e5e5e5, #f0f0f0 20%);
background-repeat: no-repeat;
background-position: center;
-moz-background-size: 100% auto, cover;
-webkit-background-size: 100% auto, cover;
-o-background-size: 100% auto, cover;
background-size: 100% auto, cover;
background-position: center;
border-radius: 0 3px 0 0;
}
 
::-webkit-scrollbar-button:vertical:start:increment {
display: none;
}
::-webkit-scrollbar-button:vertical:end:decrement {
display: none;
}
 
::-webkit-scrollbar-button:vertical:end:increment {
background: white;
background: url("https://dl.dropbox.com/s/cdcco6pih7n1lae/scroll4.png"), linear-gradient(90deg, #e5e5e5, #f0f0f0 20%);
background-repeat: no-repeat;
background-position: center;
-moz-background-size: 100% auto, cover;
-webkit-background-size: 100% auto, cover;
-o-background-size: 100% auto, cover;
background-size: 100% auto, cover;
background-position: center;
border-radius: 0 0 3px 0;
}


/*cursor*/
* {
  cursor: url('https://cdn.cursors-4u.net/previews/cute-hello-kitty-8bf4fb96-32.webp') 32 32, auto !important;
}


/*fuentes*/
@font-face {
    font-family: 'pixel';
    src: url('https://file.garden/abZDVP9uwwfHTHzQ/basiic.ttf') format('truetype');
}

@font-face {
    font-family: 'inked';
    src: url('https://file.garden/abZDVP9uwwfHTHzQ/iNkedGod.ttf') format('truetype');
}

@font-face {
    font-family: 'banga';
    src: url('https://file.garden/abZDVP9uwwfHTHzQ/Bangalore.ttf') format('truetype');
}



p {
    padding: 5px;
    border: dashed 1px black;
}

.about p{
    padding: 20px;
}


.gifs{
    margin-right: 10px;    
    vertical-align: middle; 
    height:20px;
}

span {  
        margin-top:-15px;
        line-height: 70%;
        text-shadow: 0 0 3px white;
        font-family:'banga';
    
    text-align: center;
    font-size: 15px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ff7777;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
  }

.about span {
        margin-top:-15px;
        line-height: 70%;
        text-shadow: 0 0 3px white;
        font-family:'banga';
    
    text-align: center;
    font-size: 15px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ff7777;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
}

cosa{
    font-size: 7px;

}

body {
  padding:50px;

  background-image: url('https://files.catbox.moe/m2slia.png');
  background-size: 100%;
    background-size: cover;      
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;  

  font-family: 'pixel';
  font-size: 12px;
  }

main{
    
    background-image: url(https://files.catbox.moe/pi7im2.jpg);
    border:ridge 4px gray;
    outline: solid 3px black;
    border-radius: 10px ;
    border-radius:13px 13px 13px 13px;

    height:auto;
    width:900px;

    position: relative;
    margin: auto;

}


/*#title {
    font-family: 'inked';
    z-index:200;
    background: none;
    box-shadow:none;
    position:absolute;
    color:black;
    margin-top:-100px;
    margin-left:-90px;
    font-size:7em;
    border:none;
    filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(-2px 0 0 white) drop-shadow(-0.5px 0.5px 0 black) drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0.5px black) drop-shadow(0 0.5px black);
    letter-spacing: 3px;
    font-weight:lighter;

    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #77BBFF;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;

  }*/


.layout{
    display: grid;


    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto;

    gap: 15px;
    padding:15px;
    
}

.profile{
    
    display:flex;
    flex-direction:column;
    height:500px;
    overflow:hidden;
}



.about{
    padding:10px;
    display:flex;
    flex-direction: column;
    overflow-y: hidden; /*for some reason beyond my knowledge, this fixed the whole layout*/
    height:100%;
    background-image: url(https://files.catbox.moe/50szst.jpg);
    background-size: 100px;
}

#fuck{ /*this and little thing belong to about*/
    height:300px;

    display:flex;
    flex-direction: column;
    

    padding: 20px;
    box-shadow: inset 2px 2px 7px 0px rgb(66 66 66 / 56%), inset -2px 0px 6px 1px rgb(66 66 66 / 56%), inset -11px -3px 6px 0px #ffffff, inset 0px -13px 6px -10px #77BBFF;
    border: solid 8px black;
    border-image: url(https://files.catbox.moe/ynhqkd.png) 8 fill round;
    background: white;

    overflow-y:auto;
    overflow-x:hidden;
}

h1 {

    font-family: 'banga';
    color:black;

    margin-left:20px;
    font-size:30px;
    border:none;

    filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(-2px 0 0 white) drop-shadow(-0.5px 0.5px 0 black) drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0.5px black) drop-shadow(0 0.5px black);
    letter-spacing: 3px;
    font-weight:lighter;

    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ff7777;

    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

#littlething{
    height: 150px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left:17px;
    box-shadow: inset 2px 2px 7px 0px rgb(66 66 66 / 56%), inset -2px 0px 6px 1px rgb(66 66 66 / 56%), inset -11px -3px 6px 0px #ffffff, inset 0px -13px 6px -10px #77BBFF;
    border: solid 8px black;
    border-image: url(https://files.catbox.moe/ynhqkd.png) 8 fill round;
    background: white;
    overflow-y: hidden;
    overflow-x: auto;
}

#littlething p{
   height:85px;
   width:200px;
   flex-shrink:0; /*fuck you dumbass flex!!!!*/
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right:5px;
}


#littlething a {
    color: black; 
    text-decoration: none;
}


#littlething a:hover {
    color: #ff7777; /* Cambia a rosa al tocarlo */
    text-decoration: underline wavy; /* Le pone la ondita que ya usas */
}






#leftbottomthing { /*this belongs to games*/

    height:auto;
    padding-left:17px;
    padding-right:17px;

    
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    margin:auto;
    box-shadow: inset 2px 2px 7px 0px rgb(66 66 66 / 56%), inset -2px 0px 6px 1px rgb(66 66 66 / 56%), inset -11px -3px 6px 0px #ffffff, inset 0px -13px 6px -10px #77BBFF;
    border: solid 8px black;
    border-image: url(https://files.catbox.moe/ynhqkd.png) 8 fill round;
    background: white;

    
}

#leftbottomthing img{
    max-width:100%;
}


.gallery, .games{
    padding:10px;
    height:200px;
    overflow-y:auto;
    background-image: url(https://files.catbox.moe/50szst.jpg);
    background-size: 100px;
}



#gallerything{ /*this belongs to gallery*/

    height:100%;

    display:flex;
    flex-direction: row;
    align-items: flex-start;
        
    margin:auto;
    box-shadow: inset 2px 2px 7px 0px rgb(66 66 66 / 56%), inset -2px 0px 6px 1px rgb(66 66 66 / 56%), inset -11px -3px 6px 0px #ffffff, inset 0px -13px 6px -10px #77BBFF;
    border: solid 8px black;
    border-image: url(https://files.catbox.moe/ynhqkd.png) 8 fill round;
    background: white;

    overflow-y:auto;
}

#currentgame{
    padding:20px;
    border: dashed 1px black;
    height: 100%;
    width:50%;
    flex-shrink:0;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right:5px;

    display: flex;
    flex-direction: row;
}

.gamespecs{
    margin-left:10px;
}


.aitsfcover{
     height:100px;
     width:auto;
     transition: all 0.3s ease-in-out;
}

.aitsfcover:hover {

    transform: scale(1.1); 
    filter: brightness(1.2) saturate(1.2); 
    box-shadow: 0px 0px 15px #ff7777; 
    position: relative;
    z-index: 10;
}

#animespending{
    
    border: dashed 1px black;
    height: 100%;
    width:50%;
    flex-shrink: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left:5px;
    padding-right:5px;

    display:flex;
    flex-direction: column;
    align-items:flex-start;

}
.anime{
    flex-shrink:0;
    height:100px;
    width:auto;
    margin:10px;
    border: 1px solid black;
}

.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.showspecs {
    margin-left: 10px;
    font-size: 10px;
    line-height: 1.1;
    text-align: left;
}

#animespending p{

    width:100%;
}






.profile, .about, .games, .gallery {
    border: ridge 2px gray;
    outline: solid 3px black;
    border-radius: 13px;
}

#pfp{
    padding:12px;
    display:flex;
    justify-content: center;
    height:220px;
    
}

.mini {

    background-image: url(https://files.catbox.moe/50szst.jpg);
    background-size: 100px;

    display:flex;
    flex-direction: column;
    outline-offset: -5px;
    border-radius: 4px;
    padding:5px;
    margin:7px;
    background-size:100px;
    border:ridge 4px black;

    /*background-image: url('img/downloadhgjyfg (6).jpg');*/
    /*overflow-y:auto;*/

}

#chud{
    height: 100%;
    overflow-y:auto
    /* nah border-radius: 13px;*/
}

.littlebox {
    padding:10px;
    padding-left: 17px;
    padding-right: 17px;
    height:100%;
  
    
    box-shadow: inset 2px 2px 7px 0px rgb(66 66 66 / 56%), inset -2px 0px 6px 1px rgb(66 66 66 / 56%), inset -11px -3px 6px 0px #ffffff, inset 0px -13px 6px -10px #77BBFF;
    border: solid 8px black;
    border-image: url(https://files.catbox.moe/ynhqkd.png) 8 fill round;
    background: white;


  }


#merengue{

    margin:auto;
    box-shadow: inset 2px 2px 7px 0px rgb(66 66 66 / 56%), inset -2px 0px 6px 1px rgb(66 66 66 / 56%), inset -11px -3px 6px 0px #ffffff, inset 0px -13px 6px -10px #77BBFF;
    border: solid 8px black;
    border-image: url(https://files.catbox.moe/ynhqkd.png) 8 fill round;
    background: white;

    overflow-y:hidden;
}

#chud .chudlabel   {
    width:50%;
    height: auto;
}

#chud .chudbadge{
    width: 50%;
    height: auto;
}



/*.profile h1

{
    margin-top: 3px;
  font-family: 'inked';
  z-index:200;
  background: none;
  box-shadow:none;
  position:absolute;
  color:black;
  margin-top:-65px;
    
  font-size:3.9em;
border:none;
 filter: drop-shadow(2px 0 0 white) drop-shadow(-2px 0 0 white) drop-shadow(-0.5px 0.5px 0 black) drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0 black) ;
 letter-spacing: 3px;
font-weight:lighter;
   text-decoration-line: underline;
   text-decoration-style: wavy;
 text-decoration-color: #77BBFF;
 text-decoration-thickness: 1px;
  
  }
 
  */


#mobile-ban {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(198, 236, 253); 
    z-index: 9999;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ban-content {
    padding: 10px;
    width:75%;
    margin:auto;
    box-shadow: inset 2px 2px 7px 0px rgb(66 66 66 / 56%), inset -2px 0px 6px 1px rgb(66 66 66 / 56%), inset -11px -3px 6px 0px #ffffff, inset 0px -13px 6px -10px #77BBFF;
    border: solid 8px black;
    border-image: url(https://files.catbox.moe/ynhqkd.png) 8 fill round;
    background: white;
}

.ban-content p{
    text-align: center;
    padding:10px;
}

.ban-content span{
    text-decoration-color:#7bb8f8;
}



/*baneadisimos los de cel*/
@media only screen and (max-width: 800px) {

    #mobile-ban {
        display: flex !important;
    }
    
    section, main, .layout, body > *:not(#mobile-ban) {
        display: none !important;
    }
    
    body {
        overflow: hidden !important;
        padding: 0 !important;
    }
}




